
body{
    background-color: #eff3f5;
    font-family: "Lato", sans-serif;
}
.search-btn{
    color: #6c757d;
}
.btn-orange, .btn-orange:hover, .search-btn:hover{
    background-color: #ff7043;
    color: white;
}

.search-form:hover{
    border: #ff7043 1px solid;
}

.search-form{
    width: max-content;
}

.search-btn{
    padding-top: 7;
    padding-bottom: 7;
}

.search-input, .search-btn{
    background-color: transparent;
    border-radius: 0;
    border: 0;
}

.color-org, .color-org:hover{
    color: #ff7043;
}

.profile-img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.profile-dropdown{
    background-color: #fff;
    border-radius: 5px;
    list-style-type: none;
    min-width: 200px;
    right: 130px;
    position: absolute;
    top: 65px;
    z-index: 999;
    transition: all 500ms ease-in-out;
    padding: 10px 0;
    display: none;
}

.profile-dropdown li{
    margin: 0 10px;
    padding: 10px;
    align-items: center;
    color: rgba(0,0,0,0.87);
    cursor: pointer;
    border-radius: 5px;
}

.profile-dropdown li a{
    color: rgba(0,0,0,0.87);
}

.profile-dropdown li:hover{
    background-color: #ff7043;
}

.profile-dropdown li a:hover{
    color:white;
    text-decoration: none;
}

.banner{
    width: 100%;
}
 
.banner-img{
    height: 285px;
    width: 100%;
}

.profile-info{
    position: absolute;
    left: 210px;
    z-index: 1;
    /* bottom: 260px; */
    bottom: 16rem;
    display: flex;
}

.info-img{
    border-radius: 50%;
    width: 160px;
    width: 155px;
}

.info-body a{
    font: 700 26px/1 "Lato", sans-serif;
    text-decoration: none;
    color: white;
}

.info-body h5{
    color: white;
    text-align: center;
}

.author-profile{
    width: 100%;
    position: relative;
    background-color: white;
}

.profile-details{
    padding: 20px 0px 20px 250px;
    width: 100%;
    color: #758690;
    text-decoration: none;
}

/* .profile-details a{
    color: #758690;
    text-decoration: none;
} */


.details-link{
    display: flex;
    justify-content: flex-end;
}

.btn-details{
    text-align: center;
    margin-top: 3.5%;
    padding: 0.5%;
    border: none;
    white-space: nowrap;
    background-color: transparent;
    color: #758690;
    cursor: pointer;
}

.btn-details:hover{
     color: #ff7043;
     text-decoration: none;
}

.df-jc{
    display: flex;
    justify-content: center;
}

.btn-follow-dstart{
    display: flex;
    justify-content: flex-start;
}

.blogs-menu{
    list-style: none;
    display: flex;
    padding: 0;
}

.blogs-menu li{
   padding: 0 10px;
   text-align: center;
   font: 400 14px/1 "Lato", sans-serif;
   position: relative;
   cursor: pointer;
}

.blogs-menu li b{
    color: #263843;
    padding: 0 10px;
    font-size: 22px;
    padding-top: 8px;
    display: block;
 }

 .blogs-menu li::after{
    content: "";
    right: 0;
    position: absolute;
    height: 20px;
    top: 15px;
    border-right: 2px solid #e3e8eb;
 }

 .btn-follow{
    height: 50%;
    width: 30%;
    cursor: pointer;
    text-align: center;
    border-radius: 5px;
    margin-top: 3.5%;
    padding: 0.5%;
    background-color: #ff7043;
    color: white;
    text-decoration: none;
}
.btn-follow:hover{
    color: #758690;
    background-color: #343a40;
    text-decoration: none;
}

.about-card, .blog-form-card{
    box-shadow: 0px 0px 30px 0px rgba(0, 36, 90, 0.1);
    width: 100%;
    padding: 0px 10px 10px;
    position: sticky;
}

.about-title, .blog-form-title{
    font: 700 15px/28px "Lato", sans-serif;
    border-bottom: 2px solid #edf4f7;
    color: #263843;
}

.blog-card{
    width: 38rem;
    padding: 1.85rem;
}

.author-area{
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #edf4f7;
}

.author-img{
    margin-right: 10px;
}

.author-img img{
    width: 53px;
    height: 53px;
    border-radius: 50%;
}

.author-name{
    padding-top: 0.8rem;
}
.author-name a{
    font: 700 16px/1 "Lato", sans-serif;
    color: #263843;
}

.author-name a:hover{
    color: #ff7043;
    text-decoration: none;
}

.author-follow, .blog-tag, .btn-publish{
    cursor: pointer;
    text-align: center;
    border-radius: 5px;
    padding: 0.5%;
    text-decoration: none;
    float: right;
    margin-top: 13px;
    margin-right: 10px;
    background-color: #ff7043;
    color: white;
}

.author-follow:hover, .blog-tag:hover, .btn-publish:hover{
    color: #758690;
    background-color: #343a40;
}

.blog-title{
    font: 700 26px/36px "Lato", sans-serif;
    color: #263843;
}

.blog-title:hover{
    color: #ff7043;
    cursor: pointer;
}
.blog-body{
    color: #758690;
    font: 400 16px/25px "Lato", sans-serif;
    padding-top: 5px;
}

.blog-tag{
    min-width: 50px;
}

.btn-publish{
    padding: 2%;
}


/* tagsInput */

.ReactTags__tagInput{
margin-top: 0.5rem;
}

.ReactTags__tagInputField
{
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.ReactTags__suggestions ul
{
    list-style: none;
    margin-top: 0.5rem;
}

.ReactTags__suggestions ul li
{
    cursor: pointer;
    width: fit-content;
    padding: 0.2rem;
    margin: 0.1rem;
    border-radius: 0.25rem;
    background-color: #263843;
    color: #758690;
}

.ReactTags__selected .ReactTags__tag
{
    padding: 3%;
    margin-right: 1%;
    margin-bottom: 77px;
    height: 2rem;
    border-radius: 0.25rem;
    color: #fff;
    background-color: #ff7043;
    cursor: pointer;
}

.ReactTags__selected .ReactTags__remove{
    padding: 3%;
    cursor: pointer;
}


.notfound{
    width: 100%;
    padding-top: 9.5%;
    padding-bottom: 10%;
    text-align: center;
}

.notfound h1{
    font: 900 300px/1 "Lato", sans-serif;
    color: #ff7043;
    text-shadow: 0px 9px 0px rgba(6, 53, 86, 0.07);
}

.notfound p{
    font: 400 18px/28px "Lato", sans-serif;
    padding-top: 12px;
    padding-bottom: 30px;
    color: #263843;
}

.notfound p a{
    color: #ff7043;
    text-decoration: none;
    cursor: pointer;
}

.authors-list{
    max-width: 680px;
    margin: 0 auto;
    box-shadow: 0px -2px 18px 0px rgba(0, 36, 90, 0.1);
}

.list-title{
    font: 700 18px/55px "Lato", sans-serif;
    color: #263843;
    min-height: auto;
    padding: 0 20px;
    background-color: #fff;
}

.list-body{
    margin-top: 3px;
    list-style: none;
    background-color: #fff;
}

.list-body li{
    padding: 10px 21px;
    line-height: 50px;
    width: 100%;
    border-bottom: 1px solid #e0e9ed;
}

.author-card img{
    width: 46px;
    height: 46px;
    border-radius: 50%;
}

.author-card div{
    flex: 1;
}

.author-card div p{
    margin-top: 12px;
    font: 400 15px/22px "Lato", sans-serif;
    display: inline-block;
}

.author-card div p b{
    color: #263843;
    font: 400 15px/22px "Lato", sans-serif;
}

.author-card div div{
    padding-top: 12px;
    float: right;
    line-height: 1;
}

.btn-card-follow{
    text-align: center;
    background-color: #ff7043;
    color: #fff;
    min-width: 110px;
    border-radius: 5px;
    display: inline-block;
    padding: 0 15px;
    position: relative;
}



